:root {
  --dark-color: #212121;
  --light-color: #eee;
  --button-color: #1a1a1a;
  --light-disabled-color: #616161;
  --dark-disabled-color: #424242;
  --padding-base: 24px;
}

* {
    box-sizing: border-box;
    font-family: system-ui;
    font-size: 24px;
}

html {
    display: flex;
    justify-content: center;
    background: var(--dark-color);
    color: var(--light-color);
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--padding-base) * 2);
    width: 100%;
    max-width: 500px;
    padding: 0 24px;
}

:is(.connect, .heat, .temp) {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 4px;
}

:is(.temp_display, .status) {
    opacity: 0.5
}

:is(button, input[type=number] ) {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: var(--button-color);
    color: var(--light-color);
    padding: var(--padding-base);
    width: 100%;
}


button.power{
    width: 100%;
}

div.power {
    display: flex;
    gap: 1px;
}

:disabled {
    opacity: 0.5;
    cursor: auto !important;
}

#on {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    box-shadow: 1px 0 0 0 var(--light-color);
}

#on:disabled {
    box-shadow: 1px 0 0 0 var(--light-disabled-color);
}

#off {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

#set_temp {
    text-align: right;
    padding-right: calc(var(--padding-base) * 2);
}
#set_temp:focus {
    outline: none;
}

.temp {
    width: 100%;
}

.temp_display {
    display: flex;
}

.temp_display > div{
    width: 100%;
}

.status {
    display: flex;
    justify-content: space-between;
}

.set_temp {
    display: flex;
    position: relative;
}

.set_temp > .temp_unit {
    right: 0;
}
.set_temp::before{
    content: 'Set Temperature';
}
.set_temp > .temp_unit,
.set_temp::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: var(--padding-base);
    pointer-events: none;
}

span[id$="_temp"]:before {
    content: " ";
    white-space: pre;
}

.temp_display div:last-of-type {
    text-align: right;
}